%h3
  %span.subscriber-count
  currently listening to #{@beat_name}...

.beat-container
  - heart_image = @beat_name == 'gorbypuff' ? 'gorbypuff.jpg' : '8-bit-heart.png'
  = image_tag heart_image, id: 'heart', size: '200x200'


