%h3
  %span.subscriber-count
  currently listening to #{@beat_name}...

.beat-container
  - if @beat_name == 'gorbypuff'
    = image_tag 'gorbypuff.jpg', id: 'heart'
  - else
    = image_tag '8-bit-heart.png', id: 'heart'


