/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$pink: #F2DEDE;
$darker-pink: #a94442;
$white: #fff;

@mixin placeholder-font {
  font-family: Palatino;
  font-size: 13pt;
}

::-webkit-input-placeholder { @include placeholder-font }
::-moz-placeholder { @include placeholder-font } /* firefox 19+ */
:-ms-input-placeholder { @include placeholder-font } /* ie */
input:-moz-placeholder { @include placeholder-font }

body, html{
  height: 100%;
  text-align: center;
  font-family: Palatino;
  margin: 0px;
  padding: 0px;
  background-color: $pink;
}

a {
  text-decoration: none;
  color: $darker-pink;
  &:hover {
    color: $darker-pink;
  }
  &:active {
    color: $darker-pink;
  }
}


code {
  font-size: 16pt;
}

.logo {
  padding-top: 20px;
}

.beat-container {
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  #heart {
    -webkit-transition: width 0.25s ease, height 0.25s ease;
    -moz-transition: width 0.25s ease, height 0.25s ease;
    -o-transition: width 0.25s ease, height 0.25s ease;
    transition: width 0.25s ease, height 0.25s ease;

    &.beat {
      width: 400px;
      height: 400px;
    }
  }
}

.tiny-heart {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;

  display: inline-block;

  #tiny-heart {
    -webkit-transition: width 0.10s linear, height 0.25s linear;
    -moz-transition: width 0.10s linear, height 0.25s linear;
    -o-transition: width 0.10s linear, height 0.25s linear;
    transition: width 0.10s linear, height 0.25s linear;
    vertical-align: inherit;

    &.beat {
      width: 30px;
      height: 30px;
    }
  }
}

.box {
  /* min-height: 800px; */
  margin: 40px;
}


.background-box {
  border-radius: 10px;
  height: 800px;
  /* margin: 40px; */
  background-color: white;
  position: relative;
}

.section {
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
}

.bordered-section {
  border: 1px $darker-pink solid;
  border-radius: 5px;
}

.container {
  padding-top: 40px;
}

.dashboard-section {
  text-align: left;
  padding-left: 20px;
  float: left;
  width: 48%;
  /* margin: 0 auto; */

  section {
    /* @extend .section; */
    @extend .bordered-section;
  }
}
.instructions {
  padding-left: 40px;
  text-align: left;
  float: left;
  width: 50%;
  /* margin: 0 auto; */

  section {
    @extend .section;
    @extend .bordered-section;
  }
}

.trending {
  padding-left: 40px;
  text-align: left;
  width: 30%;
  float: left;

  section {
    @extend .section;
    @extend .bordered-section;
  }

  ul.trending-list {
    list-style-type: none;
    li {
      padding: 5px 0px;
    }

    span.trending-count {
      padding-right: 5px;
    }
  }

  form.hot-form {
    margin-right: 0px;
  }

  input[name='beat'] {
    @include placeholder-font;
    margin-left: 2px;
    border: none;
    height: 3em;
    padding: 2px;

    &:focus {
      outline: none;
    }

  }

  button[type='submit'] {
    @extend .bordered-section;
    font-family: Palatino;
    background-color: $white;
    color: $darker-pink;
    font-size: 18px;
    width: 4em;
    height: 2em;
    border: 0px;

    &:focus {
      outline: none;
      background-color: lighten($pink, 3%);
    }
  }
}


.made-by {
  height: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  p {
    text-align: center;
  }
}
